<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "in.kitnahua.cartoon"
	version   = "1.0.0">
	<name>Flick</name>
	<description>
		Just flick your finger and have fun.
	</description>
	<author email="rahulthespaceman@gmail.com">
		Rahul Bohra
	</author>
</widget>
